<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultLayout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body class="mainBody">
	<div layout:fragment="content">
		<div th:fragment="post" class="post">
			<div class="post-head d-flex flex-row">
				<img th:replace="layouts/profilePic.html :: profilePic(${user}, 60, 60)"/>
				<span class="postName me-auto col-8" th:text="${user.getUsername()}">Text</span>
			</div>
			<hr>
			<form action="#" th:action="@{'/replies/create/' + ${post.getId()}}" th:object="${replyCreationModel}" method="post">
				<div class="post-content">
					<textarea type="text" class="createPostTextArea" id="postContent"
						th:field="*{replyContent}"></textarea>
					<div class="createFinishButtons pb-3">
							<a class="btn backLink finishBtn" type="button" th:href="@{'/posts/view/' + ${post.getId()}}">Back</a>
						<span class="error" th:each="err : ${#fields.errors('*')}" th:if="${#fields.hasErrors('*')}"
							th:text="${err}">Error</span>
						<button class="finishBtn" type="submit" name="post">Reply</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>