<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<div th:fragment="post" class="post" id="post-${post.getId()}"><!--/*@thymesVar id="post" type="com.gcu.model.db.PostModel"*/--><!--/*@thymesVar id="user" type="com.gcu.model.db.UserModel"*/-->
	<script th:src="@{/js/postPreview.js}"></script>
	<style>
		.btn:focus, .btn:active, .btn:disabled {
			outline: none !important;
			box-shadow: none;
		}
	</style>
	<div class="post-head d-flex flex-row">
			<!-- Commented out profile pic for now -->
			<!-- <img th:replace="layouts/profilePic.html :: profilePic(${post.getPostUser()}, 60, 60)"/> -->
			
			<!-- Simple placeholder instead -->
			<img th:src="@{/images/default-icon.jpg}" width="60" height="60" alt="Default profile" />
			
			<a th:if="${post.getPostUser() == null}" class="postName me-auto col-8 no-link" th:text="${post.getPostUserName()}"></a>
			<a th:if="${post.getPostUser() != null}" class="postName me-auto col-8" th:text="${post.getPostUserName()}" th:href="${'/accounts/view/' + post.getPostUser().getId()}"></a>
		<div class="justify-self-end d-flex flex-row align-items-center gap-3">
			<div th:if="${user != null && (user.getId() == post.getPostUser().getId())}">
				<a class="like-link">
					<img th:src="@{/images/delete.png}" title="Delete Post" height="25px" width="25px" th:data-pid="${post.getId()}" onclick="deletePost(this.getAttribute('data-pid'))">
				</a>
				<a class="like-link">
					<img th:if="${toEdit == post.getId()}" th:src="@{/images/edit.png}" title="Cancel Editing" height="25px" width="25px" th:data-pid="${post.getId()}" onclick="cancelEdit(this.getAttribute('data-pid'))">
					<img th:if="${toEdit != post.getId()}" th:src="@{/images/edit.png}" title="Edit Post" height="25px" width="25px" th:data-pid="${post.getId()}" onclick="openEdit(this.getAttribute('data-pid'))">
				</a>
			</div>
			<div>
				<input type="hidden" th:id="${'post-isLiked-' + post.getId()}" th:value="${likes.get(post.getId())}">
				<a th:classappend="${user == null ? 'link-disabled' : ''}" class="like-link">
					<img th:id="${'like-icon-' + post.getId()}" th:classappend="${likes.get(post.getId()) ? 'liked' : ''}" th:src="@{/images/like.webp}" title="Like Post" height="25px" width="20px" th:data-pid="${post.getId()}" onclick="likePost(this.getAttribute('data-pid'))">
				</a>
				<span class="like-count" th:id="${'like-count-' + post.getId()}" th:text="${post.getLikeCount()}"></span>
			</div>
		</div>
	</div>
	<hr>
	<div class="post-content" th:with="cleanContent = ${@postUtil.sanitizePostContent(post.getPostContent, postPage)}">
		<a style="text-decoration: none; white-space: pre-line;" th:if="${!postPage && !(toEdit == post.getId())}" th:href="${'/posts/view/' + post.getId()}" class="d-flex flex-column">
		<p th:id="${'post-content-' + post.getId()}" th:text="${cleanContent}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet
			massa id velit molestie laoreet. Etiam non sollicitudin diam, ac porta augue. Etiam dictum at metus nec
			euismod. Fusce volutpat at felis nec sagittis. Sed in ipsum vitae ipsum mollis sollicitudin eu sed odio. Sed
			pretium, libero non malesuada rutrum, leo orci malesuada orci, at laoreet magna libero et tortor. Integer
			ipsum dui, faucibus et pharetra vitae, sagittis non leo. Maecenas iaculis accumsan eros quis vestibulum.</p><span th:if="${post.getPostContent() != cleanContent}" style="opacity: 50%; margin-top: -15px; padding-bottom: 15px"> (expand for more)</span>
			</a>
			<p th:if="${postPage && !(toEdit == post.getId())}" th:text="${cleanContent}" style="white-space: pre-line; padding-bottom: 15px" th:id="${'post-content-' + post.getId()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet
				massa id velit molestie laoreet. Etiam non sollicitudin diam, ac porta augue. Etiam dictum at metus nec
				euismod. Fusce volutpat at felis nec sagittis. Sed in ipsum vitae ipsum mollis sollicitudin eu sed odio. Sed
				pretium, libero non malesuada rutrum, leo orci malesuada orci, at laoreet magna libero et tortor. Integer
				ipsum dui, faucibus et pharetra vitae, sagittis non leo. Maecenas iaculis accumsan eros quis vestibulum.<span th:if="${post.getPostContent() != cleanContent}" style="opacity: 50%">(expand for more)</span></p>

			<div th:if="${toEdit == post.getId()}" class="post-edit-txtarea-sizing">
				<textarea th:id="${'post-edit-box-' + post.getId()}" type="textarea" th:text="${post.getPostContent()}" class="user-option-txtarea w-100"></textarea>
				<div class="d-flex flex-row w-100 pb-3 gap-2">
					<button class="btn createBtn" th:data-pid="${post.getId()}" onclick="editPost(this.getAttribute('data-pid'))">Submit</button>
					<button class="btn createBtn" th:data-pid="${post.getId()}" onclick="cancelEdit(this.getAttribute('data-pid'))">Cancel </button>
				</div>
			</div>
	</div>
	<div th:if="${postPage && user != null}" style="display:flex; width:100%; justify-content: right;">
		<a th:href="${'/replies/create/' + post.getId()}"><button style="margin-top:0; margin-bottom: 1rem; margin-right:3rem;" type="submit" class="createBtn">Reply</button></a>
		<p style="width: 1rem"></p>
	</div>
</div>