<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<div th:fragment="reply" class="post">
	<script th:src="@{/js/replyPreview.js}"></script>
	<style>
		.btn:focus, .btn:active, .btn:disabled {
			outline: none !important;
			box-shadow: none;
		}
	</style>
	<div class="post-head d-flex flex-row">
		<!-- Commented out profile pic implementation for now -->
		<!-- <img th:replace="layouts/profilePic.html :: profilePic(user=${reply.getUser()}, 60, 60)"/> -->
		
		<!-- Simple placeholder instead of profile picture -->
		<img th:src="@{/images/default-icon.jpg}" width="60" height="60" alt="Default profile" />
		
		<a th:if="${reply.getUser() == null}" class="postName me-auto col-8 no-link" th:text="${reply.getUser().getUsername()}"></a>
		<a th:if="${reply.getUser() != null}" class="postName me-auto col-8" th:text="${reply.getUser().getUsername()}" th:href="${'/accounts/view/' + reply.getUser().getId()}"></a>
			
		<div class="justify-self-end d-flex flex-row align-items-center gap-3">
			<div th:if="${user != null && (user.getId() == reply.getUser().getId())}">
				<a class="like-link"><img th:src="@{/images/delete.png}" title="Delete Reply" height="25px" width="25px" th:data-pid="${reply.getId()}" onclick="deleteReply(this.getAttribute('data-pid'))"></a>
				<a class="like-link">
					<img th:if="${toEditReply == reply.getId()}" th:src="@{/images/edit.png}" title="Cancel Editing" height="25px" width="25px" th:data-pid="${reply.getId()}" onclick="cancelEditReply(this.getAttribute('data-pid'))">
					<img th:if="${toEditReply != reply.getId()}" th:src="@{/images/edit.png}" title="Edit Reply" height="25px" width="25px" th:data-pid="${reply.getId()}" onclick="openEditReply(this.getAttribute('data-pid'))">
				</a>
			</div>
		</div>
	</div>
	<div class="post-content">
		<p th:if="${toEditReply != reply.getId()}" th:id="${'reply-content-' + reply.getId()}" th:text="${reply.getContent()}" style="padding-bottom: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet
			massa id velit molestie laoreet. Etiam non sollicitudin diam, ac porta augue. Etiam dictum at metus nec
			euismod. Fusce volutpat at felis nec sagittis. Sed in ipsum vitae ipsum mollis sollicitudin eu sed odio. Sed
			pretium, libero non malesuada rutrum, leo orci malesuada orci, at laoreet magna libero et tortor. Integer
			ipsum dui, faucibus et pharetra vitae, sagittis non leo. Maecenas iaculis accumsan eros quis vestibulum.</p>
		<div th:if="${toEditReply == reply.getId()}">
			<textarea th:id="${'reply-edit-box-' + reply.getId()}" type="textarea" th:text="${reply.getContent()}" class="user-option-txtarea w-100"></textarea>
			<div class="d-flex flex-row w-100 gap-2 pb-3">
				<button class="btn createBtn" th:data-pid="${reply.getId()}" onclick="editReply(this.getAttribute('data-pid'))">Submit</button>
				<button class="btn createBtn" th:data-pid="${reply.getId()}" onclick="cancelEditReply(this.getAttribute('data-pid'))">Cancel </button>
			</div>
		</div>
	</div>
</div>