<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/noNav}">

<div layout:fragment="content" class="text-center w-100">
    <h2>Welcome to our API!</h2>
    <h3>All endpoints require authentication.</h3>
    <h3>Some endpoints you can try:</h3>
    <ul>
        <li><a th:href="@{/api/accounts/users}">http://localhost:8080/api/accounts/users/</a></li>
        <li><a th:href="@{/api/posts/all}">http://localhost:8080/api/posts/all</a></li>
        <li>Or visit our <a th:href="@{/swagger.html}">swagger documentation.</a></li>
    </ul>
    <a class="btn btn-primary" th:href="@{/}">Go Home</a>
</div>

</html>