<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}">



<body class="mainBody" layout:fragment="content">
    <script th:inline="javascript" th:src="@{/js/accountsOptions.js}"></script>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                </div>
                <div class="modal-body">
                    <h6>Are you sure you want to delete your account?</h6>
                    <form>
                        <div class="form-group">
                            <label for="confirm-content" class="col-form-label">Enter password: </label>
                            <input type="password" class="form-control" id="confirm-content">
                        </div>
                        <div class="form-check">
                            <label for="delete-posts" class="form-check-label">Delete posts? </label>
                            <input type="checkbox" class="form-check-input" id="delete-posts">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="openDeleteModal()">Close</button>
                    <input type="hidden" id="old-password" th:value="${user.getPassword()}">
                    <button type="button" class="btn btn-danger" onclick="confirmDeleteAcc()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Password Change</h5>
                </div>
                <div class="modal-body">
                    <h6>Are you sure you want to change your password?</h6>
                    <form>
                        <div class="form-group">
                            <label for="confirm-password" class="col-form-label">Enter old password: </label>
                            <input type="password" class="form-control" id="confirm-password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="openPasswordModal()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="prepUserUpdate('password')">Change</button>
                </div>
            </div>
        </div>
    </div>

    <div class="position-absolute d-flex h-100 w-100 align-items-center justify-content-center">
        <div class="accountOptions h-100 w-75 mt-3 text-center d-flex flex-column gap-3">
            <h2 class="mt-1">Your Account</h2>
            <span class="error" id="err">There was an error saving your changes!</span>
            <input type="hidden" id="userId" th:value="${user.getId()}">
            <div class="d-flex align-items-center justify-content-center gap-1 flex-row edit-text-field">
                <input th:disabled="${toEdit != 'username'}" id="username" type="text" th:value="${user.getUsername()}"
                    class="w-50 user-option">
                <a class="btn btn-secondary user-option" th:if="${toEdit != 'username'}"
                    th:href="@{/accounts/options?toEdit=username}">Edit</a>
                <a class="btn btn-primary user-option" th:if="${toEdit == 'username'}"
                    onclick="prepUserUpdate('username')">Submit</a>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-1 flex-row edit-text-field">
                <input th:disabled="${toEdit != 'email'}" id="email" type="email" th:value="${user.getEmail()}"
                    class="w-50 user-option">
                <a class="btn btn-secondary user-option" th:if="${toEdit != 'email'}"
                    th:href="@{/accounts/options?toEdit=email}">Edit</a>
                <a class="btn btn-primary user-option" th:if="${toEdit == 'email'}"
                    onclick="prepUserUpdate('email')">Submit</a>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-1 flex-row edit-text-field">
                <input th:disabled="${toEdit != 'password'}" id="password" type="password"
                    placeholder="Enter new password..." class="w-50 user-option">
                <a class="btn btn-secondary user-option" th:if="${toEdit != 'password'}"
                    th:href="@{/accounts/options?toEdit=password}">Edit</a>
                <a class="btn btn-primary user-option" th:if="${toEdit == 'password'}"
                    onclick="openPasswordModal()">Submit</a>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-1 flex-column edit-text-field">
                <textarea placeholder="Enter bio..." th:disabled="${toEdit != 'bio'}" id="bio" type="textarea"
                    th:text="${user.getBio()}" class="w-50 user-option-txtarea user-option-txtarea-sizing"></textarea>
                <a class="btn btn-secondary user-option user-option-txtarea-sizing" th:if="${toEdit != 'bio'}"
                    th:href="@{/accounts/options?toEdit=bio}">Edit</a>
                <a class="btn btn-primary user-option user-option-txtarea-sizing" th:if="${toEdit == 'bio'}"
                    onclick="prepUserUpdate('bio')">Submit</a>
            </div>
            <div class="d-flex justify-content-center gap-5 flex-row edit-text-field form-check form-switch">
                <label for="private" class="form-check-label">Make account private?</label>
                <input class="form-check-input" type="checkbox" role="switch" id="private"
                    th:checked="${user.isPrivate()} ? 'checked'" onclick="prepUserUpdate('private')">
            </div>
            <a class="btn align-self-center btn-secondary user-option user-option-txtarea-sizing" th:href="${'/accounts/view/' + user.getId()}">View your profile</a>
            <a class="btn align-self-center btn-danger user-option user-option-txtarea-sizing" onclick="openDeleteModal()">Delete account</a>
            <span class="opacity-50">Your DB id is <span th:text="${user.getId()}"></span></span>
            <span class="opacity-50">Your account was created at <span th:text="${user.getCreatedDate()}"></span></span>
        </div>
    </div>


</body>

</html>