<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultLayout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body class="mainBody">
	<div class="" layout:fragment="content">
		<div class="d-flex flex-lg-row flex-column">
			<div class="postBox col-lg-9 col-12">
				<div class="create">
					<a th:href="@{/posts/create}">
					<button th:if="${user != null}" type="submit" class="createBtn">Create Post</button>
					<button th:if="${user == null}" disabled class="disabledBtn">Sign in to post.</button>
					</a>
				</div>
				<div id="posts" class="pb-3" th:each="post : ${posts}">
					<div th:replace="~{layouts/postPreview :: post}"></div>
				</div>
				<div th:if="${posts.size() == 0}" class="w-100 text-center">
					<h2 class="mt-5">No results!</h2>
				</div>
			</div>
			<div class="searchBox col-lg-3 col-12 px-2">
				<div class="search">
					<h5 class="searchText">Search</h5>
					<br>
					<form method="get" th:action="@{/search}" th:object="${searchModel}">
						<input class="form-control" type="text" name="searchTerm" id="searchTerm" placeholder="Enter search..." th:value="${searchTerm != null} ? ${searchTerm} : ''">
						<br>
						<button class="searchBtn" type="submit">
							Search
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>