<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/noNav}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body class="loginBody">

	<div layout:fragment="content" class="row loginBoxes">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<br>
					<h5 class="card-title card-titleH2">Sign In</h5>
					<br>
					<form th:action="@{login}" th:object="${loginModel}" method="post" class="text-center">
						<input type="text" class="form-control loginInputs" id="loginEmail"
							placeholder="name@example.com" th:field="*{email}">
						<br>
						<input type="password" class="form-control loginInputs" id="loginPassword"
							placeholder="Enter Password" th:field="*{password}">
						<br>
						<p th:if="${error != null}" th:text="${error}"></p>
						<button type="submit" class="loginBtns">Sign In</button>
						<br>
					</form>
					<p class="otherSigninOption">
						<a th:href=@{/accounts/register} href="">Don't have an account?</a>
					</p>

				</div>
			</div>
		</div>
	</div>
</body>

</html>